<div class = "container-wrapper">
<h3>People You Owe</h3>

<table class="center table table-hover" style="background-color: white">
    <thead><tr><th> person </th><th> amount </th> </tr></thead>
    <% @relationships.each do |r| %>
        <tr>
        <% if User.find_by_id(r.from_id) == current_user%>
        	<td><%= User.find_by_id(r.to_id).email %></td>
        	<td><%=r.amount%></td>
			<% end %>

        </tr>
    <% end %>
        
</table>


<h3>People Who Owe You</h3>
<table class="center table table-hover" style="background-color: white">
        <thead><tr><th> person </th><th> amount </th> </tr></thead>
        <% @relationships.each do |r| %>

            <tr>

            <% if User.find_by_id(r.to_id) == current_user%>
            	<td><%= User.find_by_id(r.from_id).email %></td>
            	<td><%=r.amount%></td>
  			<% end %>

           
            

            </tr>

        <% end %>
        
        
    </table>

<div>
  <%= link_to 'Home', new_payment_path %>
</div>
</div>