<div class = "container-wrapper">

  <h1>Your balance: <%= number_to_currency current_user.balance %></h1>


  <h1>Sent Payments</h1>
 
  <table class="center table table-hover" style="background-color: white">
  <thead><tr><th> person </th><th> amount </th> </tr></thead>
  <% @sent_payments.each do |p| %>
        <tr>
        <td><%= p.receiver.email %></td>
        <td><%=number_to_currency p.amount%></td>

        </tr>
        
       </table>
  <% end %>



  <h1>Received Payments</h1>
  <table class="center table table-hover" style="background-color: white">

  <thead><tr><th> person </th><th> amount </th> </tr></thead>
    <% @received_payments.each do |p| %>

        <tr>
        <td><%= p.sender.email %></td>
        <td><%=number_to_currency p.amount%></td>

        </tr>
        
       </table>
  <% end %>


<div>
  <%= link_to 'Create a payment', new_payment_path %>
  
  <%= link_to 'View Balances', relationships_path %>
</div>

</div>