<div class="container">
<%= form_tag payments_path, class: 'form-horizontal' do %>
  
	<% if @payment.errors.any? %>
    <div class="alert alert-error" style="margin-top: 20px">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <legend>Make a payment</legend>

    <div id = "pay-container" >
      <div class="control-group">
        <%= label_tag :to, 'To', class: 'control-label' %>
        <div class="controls">
          <%= text_field_tag :to, '', placeholder: 'john.doe@example.com', class: 'input-large' %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :amount, 'Amount', class: 'control-label' %>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">$</span>
            <%= number_field_tag :amount, '', placeholder: 10, class: 'input-small' %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= submit_tag :pay, class: 'btn' %>
        </div>
      </div>
    </div>

    <%= link_to 'View Balances', relationships_path %> &nbsp;|&nbsp;
    <%= link_to 'View Payments', payments_path %> &nbsp;|&nbsp;
    <%= link_to 'Graph', '/graph' %>  

<% end %>
</div>




 	
