
   
<div class = "header">
	<div id = "header-wrapper">
		<div class = "site-title"><strong>Ven-Owe</strong></div>
		<div id = "logout-header-nav">
			<!--this is the place to show the username and logout-->
			<div id = "wrapper-account-name">
				<div id = "account-name">Account: 
				</div>
			</div>
            <div id = "wrapper-logout">
				<button type="submit" class="btn btn-primary" style ="display:inline-block;">Log out</button>
		   </div>
		</div>
	</div>
</div>

<div class="container">
<%= form_tag payments_path, class: 'form-horizontal' do %>
  
	<% if @payment.errors.any? %>
    <div class="alert alert-error" style="margin-top: 20px">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <legend>Make a payment</legend>
  <div class="control-group">
    <%= label_tag :to, 'To', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :to, '', placeholder: 'john.doe@example.com', class: 'input-large' %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :amount, 'Amount', class: 'control-label' %>
    <div class="controls">
    <div class="input-prepend">
      <span class="add-on">$</span>
      <%= number_field_tag :amount, '', placeholder: 10, class: 'input-small' %>
    </div>
    </div>
	</div>

  <div class="control-group">
    <div class="controls">
      <%= submit_tag :pay, class: 'btn' %>
    </div>
  </div>

<% end %>
</div>




 	
